doctype html
html
  head
  style
  table, th, td {
    border: 1px solid black;
  }
  body

    h1 The col element

    table
      tr
        th Item id
        th Item
        th Price
      
      tr
        td 3476896 
        td My first HTML
        td $53
      
      tr
        td 5869207
        td My first CSS
        td $49
      